<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/navBar.ejs') %>
    <%- include('../../partials/sidebarAdmin.ejs') %>

    <div class="mainContainer"><section class="hero is-hero mt-6 is-flex is-flex-direction-column">
      <section class="container mt-6">
        <h1 class="title is-1 has-text-centered">
          ¡Se ha creado la retroalimentacion!
        </h1>
        <a
          class="button is-primary is-medium is-center"
          href="/actual/retroalimentacion"
          >Responder Preguntas</a
        >
      </section>
    </section></div>
  </body>
</html>

<style>
   ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }


  .title {
    color: #ece9e4 !important;
  }




  body {
    background-color: #181a1b;
    color: #e3e1dd !important;
  }



  .mainContainer {
    width: 85%;
    margin-left: 15%;
    height: 92%;

    padding-top: 4% !important;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
