<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>REPORT</title>
  </head>
  <body>
    <!-- header -->
    <div id="wrapper">
      <div class="header">
        <div class="left">
          <p><%= new Date().toLocaleDateString() %></p>
        </div>
        <div class="right">
          <img
            src="\assets\$zebrands-brand-logo.svg"
            alt="logo"
            width="100"
            height="100"
          />
        </div>
      </div>
      <div class="title">
        <h1><%= title %></h1>
      </div>

      <!-- Your content goes here -->
      <div class="content">
        <img
          class="graph"
          src="<%= image %>"
          alt="image"
          width="100%"
          height="100%"
        />
      </div>
    </div>

    <!-- footer -->
    <footer>
      <p>Page <%= pageNumber %></p>
    </footer>
  </body>
</html>

<style>
  body {
    font-family: monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  #wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 10px;
  }

  .header {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .title {
    display: flex;
    text-align: center;
  }

  .footer {
    text-align: right;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  footer {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: right;
    bottom: 0;
  }

  .graph {
    margin: 0 auto;
    align-items: center;
  }
</style>
