<html>
    <%- include('../../include/header.ejs') %>

    <body>
        <%- include('../../include/navbar.ejs') %>

        <section class = "container">
            <div class = "columns">
                <div class = "column is-11">"Hello"</div>
                <div class = "column">"1"</div>
            </div>
        </section>
    </body>
</html>