<html>
  <%- include('../../include/header.ejs') %>

  <body>
    <%- include('../../include/navbar.ejs') %>

    <section class="hero is-hero mt-6 is-flex is-flex-direction-column">
      <section class="container mt-6">
        <h1 class="title is-1 has-text-centered">¡Gracias por tu respuesta!</h1>
        <a class="button is-primary is-medium is-center" href="/">Ir al Menu</a>
      </section>
    </section>
  </body>
</html>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
