<html>
  <%- include('../../Include/Header.ejs') %>

  <body>
    <%- include('../../Include/NavBar.ejs') %>

    <section class="hero is-medium is-bold">
      <div class="hero-body">
        <!-- Title -->
        <div class="columns is-vcentered">
          <div class="column">
            <h1 class="title is-1">Desempeño de Trabajo</h1>
          </div>
          <div class="column is-narrow">
            <a class="button is-danger reporte-button" id="pdf-button"
              >Generar Reporte</a
            >
          </div>
        </div>
        <!-- End of Title -->

        <!-- Graph -->

        <div class="columns">
          <div class="column is-12">
            <div class="container">
              <div
                class="box has-background-white has-text-centered"
                style="width: 100%"
              >
                <p class="subtitle is-4">Sprint Actual</p>
                <canvas id="ActualSprint"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End of Graph -->
    </section>

    <script src="/js/actualSprint.chart.js"></script>
  </body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  const pdfButton = document.querySelector("#pdf-button")
  pdfButton.addEventListener("click", () => {
    const canvas = document.querySelector("#ActualSprint")
    const imgChart = canvas.toDataURL("image/png")
    $.ajax({
      url: "/actual/generatePDF",
      type: "POST",
      data: { chartImage: imgChart },
      success: function (response) {
        console.log(response)
      },
      error: function (error) {
        console.log(error)
      },
    })
  })
</script>
