<%- include('../../include/header.ejs') %>

<body>
    <%- include('../../include/navbar.ejs') %>

    <section class="hero is-medium is-bold">
        <div class="hero-body has-text-centered">
            <!-- Title -->
            <div class="columns">
                <div class="column is-half is-flex">
                    <h1 class="title is-1">Metricas Actuales</h1>
                </div>
            </div>
            <!-- End of Title -->
        </div>
    