<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/sidebarAdmin.ejs') %>
    <%- include('../../partials/navBar.ejs') %>

    <div class="mainContainer">
      <section class="hero is-medium is-bold ">
        <div class="hero-body has-text-centered pt-0">
          <!-- Title -->
          <div class="columns">
            <div class="column is-half is-flex">
              <h1 class="title is-1">Metricas Actuales</h1>
            </div>
          </div>
          <!-- End of Title -->
  
          <!-- Graph -->
          
              <div class="columns">
                  <div class="column is-12">
                      <div class="container">
                          <div
                              class="box  has-text-centered"
                              style="width: 100%"
                          >
                              <p class="subtitle is-4">Sprint Actual</p>
                              <canvas id="ActualSprint"></canvas>
                          </div>
                      </div>
                  </div>
  
              </div>
            </div>
          </div>
          <!-- End of Graph -->
        </div>
      </section>
    </div>
    

    <script src="/js/actualSprint.chart.js"></script>
  </body>
</html>


<style>
    ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .box{
    border: 1.5px solid #dbdbdb;  
  }

  .mainContainer {
    width: 85%;
    margin-left: 15%;
    height: 92%;
    margin-top: 6%;

    padding: 0px;
  } 
</style>