<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/navBar.ejs') %> 
  <%- include('../../partials/sidebarAdmin.ejs') %>

    <div class="mainContainer"> <section class="section " >
    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title is-1">Accionables</h1>
      </div>
      <div class="column is-narrow">
        <a
          href="/historico/historicoAccionables"
          class="button is-danger reporte-button"
          onclick="event.preventDefault(); saveAccionables();"
        >
          Aprobar Accionables
        </a>
      </div>
    </div>

    <section class="columns is-multiline">
      <% for (let i = 0; i < accionables.length; i++) { %>
      <div class="column is-one-third box">
        <div class="is-flex is-justify-content-center">
          <p class="title is-4"><%= accionables[i].nombreAccionable %></p>
        </div>
      </div>

      <% } %>
    </section>
  </div>
  </body>


  <script src="/js/accionable.front.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <style>
    hr {
      opacity: 0;
      margin: 1rem;
    }

    ::-webkit-scrollbar {
      width: 0;
      height: 0;
      background-color: transparent;
    }

    .mainContainer {
      width: 85%;
      margin-left: 15%;
      height: 92%;
      margin-top: 6%;

      padding: 0px;
    }
    .nombreAccionable {
      display: flex !important;
      align-items: center !important;
    }

    .checkboxDiv {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .checkbox {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      transform: translate(-18%, -20%);
      appearance: none;
      outline: none;
      border: 2px solid #000;
      border-radius: 4px;
    }

    .checkbox::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 20px;
      width: 20px;
      background-color: #000;
      border-radius: 2px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    .checkbox:checked::before {
      opacity: 1;
    }
  </style>
</html>
