<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/navBar.ejs') %>

    <section
      class="hero is-hero mt-6 is-flex is-flex-direction-column is-justify-content-center"
    >
      <section class="container mt-6">
        <h1 class="title is-1 has-text-centered">No hay Accionables</h1>
        <img
          src="/assets/NotAvailableActionable.jpeg"
          alt="NotAvailableActionable"
          class="is-centered"
          style="width: 700px"
        />
      </section>
    </section>
  </body>
</html>
