<html>
<html>
  <%- include('../../partials/header.ejs') %>

    <body class="is-flex is-justify-content-center is-align-items-center  is-flex-direction-column">

      <div class="title Titulo">ZËBRANDS RETROSPECTIVA</div>
      <div class="team has-text-centered is-flex is-justify-content-center is-align-items-center"><img src="../../assets/Blackdot_Blanco.png" class="blackdotImg">
        <p class="is-vcentered">BlackD.t</p></div>

      <div class="container box is-flex is-justify-content-center is-flex-direction-column has-text-centered ">

        <p class="title is-1 mb-5">Sign In</p>

        <a href="/auth/google" class="is-align-self-center  mt-5 btn"
    ><span class="fa fa-google"></span>
    <div
      id="g_id_onload"
      data-client_id="549053021714-vunpaljl9nn3t0qpogjeq3m6o40v8h36.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-callback="handleCredentialResponse"
      data-auto_prompt="false"
    ></div>

    <div
      class="g_id_signin"
      data-type="standard"
      data-shape="pill"
      data-theme="filled_black"
      data-text="signin_with"
      data-size="huge" 
      data-logo_alignment="left"
      data-width="200"
      data-height="500"
    ></div>
</a>


      </div>
      
    </body>

</html>

<!-- Styles -->
<style>
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }


  body{
    background: rgb(24,26,27);
background: linear-gradient(264deg, rgba(24,26,27,1) 17%, rgba(39,43,44,1) 67%);
  }

p{
  color: #eae8e5 !important;  
}

.Titulo{
  margin-top: 8%;

  font-size: 5vh !important;
  color: #eae8e5;
}

  .container {
    max-width: 30% !important;
    width: 25% !important;
    height: 40% !important;
    background-color: rgba(54, 56, 56, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(120, 119, 119, 0.75);
  }

  .blackdotImg{
    width: 2% !important;

  }

  .team{
    margin-bottom: 4% !important;
  }
  

</style>
