<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/sidebarAdmin.ejs') %> <%-
    include('../../partials/navBar.ejs') %>

    <div class="mainContainer">
      <section class="hero is-medium is-bold">
        <div class="hero-body has-text-centered">
          <div class="container">
            <h1 class="title is-1">
              'CREANDO MARCAS <br />
              PARA EL FUTURO'
            </h1>

            <br />

            <% if(retroActiva) { %>
            <button class="button is-success status-button noHover">
              Retro Activa
            </button>
            <% } else { %>
            <button class="button is-danger status-button noHover">
              Retro Inactiva
            </button>
            <% } %>
          </div>
        </div>
      </section>

      <section class="section">
        <!-- Graph  -->
        <% if (sprint.length > 0) { %>
        <div class="container is-fluid" style="">
          <div class="box has-text-centered sprint-graph box-shadow--2">
            <div class="sprint-title">
              <p class="subtitle is-2">Epicas</p>
              <br />
            </div>
            <canvas
              id="Sprints"
              style="width: 100%; height: calc(100% - 100px)"
            ></canvas>
          </div>
        </div>

        <% } else { %>
        <div class="container">
          <div class="graphContainer box has-text-centered has-shadow--2">
            <p class="subtitle is-4">No hay Sprints disponibles</p>
          </div>
        </div>
        <% } %>
      </section>
    </div>

    <script src="/js/sprint.chart.js"></script>
  </body>
</html>

<!-- Styles -->
<style>
  .box {
    background-color: rgb(38, 43, 43) !important;
    border: 1px solid #181a1b !important;
  }

  body {
    background-color: #181a1b;
  }

  section {
    background-color: #181a1b;
  }

  .graphContainer {
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }

  .mainContainer {
    width: 85%;
    margin-left: 15%;
    height: 100%;

    padding: 0px;
  }

  /* Overriding Bulma CSS */
  .hero {
    background-image: url("../../assets/hero.png");
    background-size: cover;
    background-position: center;
    height: 30rem;
  }

  /* .container {
    width: 100%;
  } */

  .sprint-graph {
    margin-top: 30x;
    height: 550px !important;
  }

  .title {
    color: #ffffff;
  }
  .noHover {
    pointer-events: none;
  }

  .is-1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 4.8893rem !important;
  }

  .status-button {
    border-radius: 52px;
    width: 300px;
    height: 60px;
    font-size: 1.5rem !important;
  }

  .button.is-success {
    background-color: #356959 !important;
  }

  @media screen and (max-width: 768px) {
    .is-1 {
      font-size: 2.5rem !important;
    }
  }
</style>
