/* Navbar styles */
.navbar {
  background-color: #272b2c;
  border-bottom: 1px solid #444444;
  box-shadow: 0px 1px 1px #444444;
  height: 7%;
  z-index: 10;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

/* Blackdot logo styles */
.blackdot {
  width: 40px;
  height: 40px;
}

.blackdot__text,
a {
  color: #e3e1dd !important;
}

/* Zebrands logo */
.zebrands {
  width: 40px;
  height: 40px;
  transform: scale(2.5) !important;
  filter: invert(1);
  z-index: 10 !important;
}

.logo__zebrands {
  margin: 0 1rem;
}

/* Profile picture */
.profile__picture {
  border: 1px solid #e4e5e3;
  border-radius: 50%;
}

.profile__picture:hover {
  border: 1px solid #065bb7;
  cursor: pointer;
}

.user__avatar {
  height: 4rem;
  width: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 600;

  background-color: #d44143;
  color: #e3e1dd;
  border: 1px solid #e4e5e3;
  border-radius: 50%;
}

#profile__info {
  width: 10rem !important;
  position: relative;
}

#profile__info:hover {
  background-color: inherit !important;
  color: inherit !important;
}

/* Dropdown */
.navbar-dropdown {
  min-width: 8rem !important;
  border: none !important;
  background-color: #272b2c;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #444444;
  margin-top: 0.5rem;
  right: 0;
}

.dropdown__item {
  background-color: #d44143 !important;
  height: 8%;
  border-bottom: 1px solid #444444;
  color: #e3e1dd !important;
  width: 100% !important;
  border-radius: 0;
}

.log__out {
  background-color: #e3e1dd !important;
  height: 8%;
  border-bottom: 1px solid #444444;
  color: #e3e1dd !important;
  width: 100% !important;
  border-radius: 0;
}

#log__out:hover {
  background-color: #d44143 !important;
  color: #272b2c !important;
}
