<html>
    <%- include('../../include/header.ejs') %>

    <body>
        <%- include('../../include/navbar.ejs') %>

        <section class="hero is-medium is-bold">
            <div class="hero-body has-text-centered">
                <section class="has-text-left">
                    <h1 class="title is-1 mb-5">Empleados</h1>
                </section>
                
            </div>
        </section>
    </body>
</html>