<html>
  <%- include('../include/header.ejs') %>
  <body>
    <div class="columns">
      <!-- Hero -->
      <div class="column is-three-quarters">
        <section class="hero is-fullheight is-bold">
          <div class="hero-body has-text-centered">
            <div class="container">
              <h1 class="title is-1">'ZËBRªNDS RETROSPECTIVA'</h1>
            </div>
          </div>
        </section>
      </div>
      <div class="column is-vcentered">
        <section>
          <div class="container1">
            <a href="/auth/google" class="btn btn-danger"
              ><span class="fa fa-google"></span>
              <div
                id="g_id_onload"
                data-client_id="549053021714-vunpaljl9nn3t0qpogjeq3m6o40v8h36.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="redirect"
                data-login_uri="http://localhost:3000/auth/google/callback"
                data-nonce=""
                data-itp_support="true"
              ></div>

              <div
                class="g_id_signin"
                data-type="standard"
                data-shape="pill"
                data-theme="filled_black"
                data-text="signin_with"
                data-size="large"
                data-locale="en"
                data-logo_alignment="left"
                data-width="200"
              ></div>
            </a>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>

<!-- Styles -->
<style>
  /* Overriding Bulma CSS */
  .hero {
    background: url("../../assets/hero.png") no-repeat center center fixed;
    background-size: cover;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets/hero.png") no-repeat center center fixed;
  }

  .container {
    width: 100%;
  }

  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .title {
    color: #e0e0e0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .is-1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 4.8893rem !important;
  }

  @media screen and (max-width: 768px) {
    .is-1 {
      font-size: 2.5rem !important;
    }
  }
</style>
