<html>
  <%- include('../include/header.ejs') %>

  <body>
    <%- include('../include/navbar.ejs') %>

    <!-- Hero -->
    <section class="hero is-medium is-bold">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title is-1">
            'CREANDO MARCAS <br />
            PARA EL FUTURO'
          </h1>

          <br />
          <button class="button is-success status-button">STATUS</button>

          <!-- red button
            <button class="button is-success status-button>STATUS</button>" -->
        </div>
      </div>
    </section>

    <section>

    <!-- Graph  -->

      <% if (sprint.length > 0) { %>
    
      <div class="container is-widescreen" style="z-index: 10;">
        <div
          class="box has-background-white has-text-centered sprint-graph"
          style="width: 100%" >
          <p class="subtitle is-2">Sprint</p>
          <canvas id="Sprints"></canvas>
        </div>
      </div>
    
      <!-- <% } else { %>
        <div class="container">
          <div class="box has-background-white has-text-centered">
            <p class="subtitle is-4">No hay epicas disponibles</p>
          </div>
        </div>
        <% } %>
        End of Graph -->

    </section>

    <script src="/js/sprint.chart.js"></script>
  </body>
</html>

<!-- Styles -->
<style>
  /* Overriding Bulma CSS */
  .hero {
    background-image: url("../../assets/hero.png");
    background-size: cover;
    background-position: center;
    height: 500px;
  }

  .title {
    color: #ffffff;
  }

  .is-1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 4.8893rem !important;
  }

  .status-button {
    border-radius: 52px;
    width: 300px;
    height: 60px;
    font-size: 1.5rem !important;
  }

  .button.is-success {
    background-color: #356959 !important;
  }

  .sprint-graph  {
    margin-top: 30px;
  }

  @media screen and (max-width: 768px) {
    .is-1 {
      font-size: 2.5rem !important;
    }
  }
</style>
