<html>
    <body>

        
        <div class="columns">
            <div class="column is-two-thirds">
                <!-- Hero -->
                <section class="hero is-medium is-bold">
                    <div class="hero-body has-text-centered">
                        <div class="container">
                            <h1 class="title is-1">
                                'CREANDO MARCAS <br />
                                PARA EL FUTURO'
                            </h1>
                        </div>
                    </div>
                </section>
            </div>

            <div class="column">
                <div id="g_id_onload"
                    data-client_id="549053021714-vunpaljl9nn3t0qpogjeq3m6o40v8h36.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="redirect"
                    data-login_uri="localhost:3000"
                    data-auto_prompt="false">
                </div>

                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="pill"
                    data-theme="outline"
                    data-text="signin_with"
                    data-size="large"
                    data-locale="es-419"
                    data-logo_alignment="left">
                </div>

                <script>
                    function onSignIn(googleUser) {
                        var id_token = googleUser.getAuthResponse().id_token;
                        var profile = googleUser.getBasicProfile();
                        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                        console.log('Name: ' + profile.getName());
                        console.log('Image URL: ' + profile.getImageUrl());
                        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                }
                </script>
            </div>
        </div>
                

    </body>
</html>