<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/navBar.ejs') %>
    <%- include('../../partials/sidebarAdmin.ejs') %>

   <div class="mainContainer"> <section
    class="hero is-hero mt-6 is-flex is-flex-direction-column is-justify-content-center"
  >
    <section class="container mt-6">
      <h1 class="title is-1 has-text-centered">Error</h1>
      <h2 class="subtitle is-2 has-text-centered"><%= error %></h2>
      <img
        src="/assets/cat-s-head-stuck-box-pack.png"
        alt="cat-s-head-stuck-box-pack"
        class="is-centered"
        style="width: 1000px"
      />
    </section>
  </section></div>
  </body>
</html>

<style>
    ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .box {
    background-color: rgb(38, 43, 43) !important;
    border: 1px solid #181a1b !important;
  }

  .title {
    color: #e3e1dd !important;
  }


  .subtitle {
    color: #e3e1dd !important;
  }


  body {
    background-color: #181a1b;
    color: #e3e1dd !important;
  }



  
  .mainContainer {
    background-color: #181a1b;
    width: 85%;
    margin-left: 15%;
    padding-top: 6% !important;
    height: 92%;
    

    padding: 0px;
  } 
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
