<html>
  <%- include('../../include/header.ejs') %>

  <body>
    <%- include('../../include/navbar.ejs') %>

    <section class="hero is-medium is-bold">
      <div class="hero-body has-text-centered">
        hello, world
      </div>
  </body>
</html>
