<%- include('../../include/header.ejs') %>

<body>
  <%- include('../../include/navbar.ejs') %>

  <section class="hero is-medium is-bold">
    <div class="hero-body has-text-centered">
      <!-- Epica number & Generar reporte -->
      <div class="columns">
        <div class="column is-half is-flex">
          <h1 class="title is-1">Comparativa de Epicas</h1>
        </div>

        <div class="column is-half is-flex is-justify-content-end">
          <div class="is-grouped is-grouped-centered">
            <a class="button is-danger reporte-button" href="#">
              Generar Reporte
            </a>
          </div>
        </div>
      </div>
      <!-- End of Title & Button -->

      <!-- Graph changing Button -->
      <div class="columns">
        <button
          class="button is-primary toggle-button"
          id="toggleEpicaComparison"
          onclick="change(event)"
        >
          Epicas
        </button>
        <button
          class="button is-primary toggle-button"
          id="toggleSprintComparison"
          onclick="change(event)"
        >
          Sprints
        </button>
      </div>
      <!-- End of Graph Changing Button -->

      <!-- Graph -->
      <% if (epicas.length > 0) { %>

      <div class="columns">
        <div class="column is-9">
          <div class="container">
            <div
              class="box has-background-white has-text-centered"
              style="width: 100%"
            >
              <p class="subtitle is-4 graph-title">Story Points por Epicas</p>
              <p class="subtitle is-4 graph-title" style="display: none">
                Story Points por Sprints
              </p>
              <canvas id="EpicaComparison" class="graph-canvas"></canvas>
              <canvas
                id="SprintComparison"
                class="graph-canvas"
                style="display: none"
              ></canvas>
            </div>
          </div>
        </div>

        <div class="column is-3">
          <div class="container">
            <div
              class="box has-background-white has-text-centered"
              style="width: 100%"
            >
              <p class="subtitle is-4">Epicas Disponibles</p>

              <div>
                <!-- Normal behaviour -->
                <ul>
                  <!-- Create 3 columns -->
                  <% for (var i = 0; i < epicas.length; i++) { %>
                  <li>
                    <!-- First column -->
                    <div class="columns">
                      <div class="column is-1">
                        <input
                          type="checkbox"
                          name="epica"
                          value="<%= epicas[i].idEpica %>"
                        />
                      </div>

                      <div class="column is-10 has-text-left">
                        <p><%= epicas[i].nombreEpica %></p>
                      </div>
                    </div>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } else { %>
      <div class="container">
        <div class="box has-background-white has-text-centered">
          <p class="subtitle is-4">No hay epicas disponibles</p>
        </div>
      </div>
      <% } %>
      <!-- End of Graph -->
    </div>
  </section>

  <script src="/js/comparativaEpicas.chart.js"></script>
</body>

<style>
  .toggle-button {
    margin: 0 10px;
  }
</style>

<!-- Functionality -->
<script>
  /**
   * @brief
   * Changes the graph-title and graph-canvas to show the other graph.
   * Also, changes the colors of the buttons accordingly.
   * @param {Event} event - The event that triggered the function.
   */
  const change = (event) => {
    const button = event.target
    const otherButton = document.getElementById(
      button.id === "toggleEpicaComparison"
        ? "toggleSprintComparison"
        : "toggleEpicaComparison"
    )

    // Change the colors of the buttons
    button.classList.remove("is-primary")
    button.classList.add("is-danger")
    otherButton.classList.remove("is-danger")
    otherButton.classList.add("is-primary")

    // Change the graph-title and graph-canvas
    const graphTitle = document.getElementsByClassName("graph-title")
    const graphCanvas = document.getElementsByClassName("graph-canvas")
    for (let i = 0; i < graphTitle.length; i++) {
      graphTitle[i].style.display =
        graphTitle[i].style.display === "none" ? "block" : "none"
      graphCanvas[i].style.display =
        graphCanvas[i].style.display === "none" ? "block" : "none"
    }
  }
</script>
