<html>
  <%- include('../../Include/Header.ejs') %>

  <body>
    <%- include('../../Include/NavBar.ejs') %>

    <section class="section" style="margin-top: 2rem">
      <!-- Title & generar reporte -->
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="title is-1">Desempeño de Trabajo</h1>
        </div>
        <div class="column is-narrow">
          <a href="#" class="button is-danger reporte-button"
            >Generar Reporte</a
          >
        </div>
      </div>
      <!-- End of title & generar reporte -->

      <!-- Graph area & showing names of Sprints or epicas -->
      <% if (sprints.length > 0 || epicas.length > 0) { %>
      <div class="columns" style="padding-top: 2rem">
        <!-- Graph area -->
        <div class="column is-10">
          <div class="box">
            <div class="has-text-centered">
              <p class="title is-3" style="margin-bottom: 2rem">
                Story Points por Sprint
              </p>
            </div>

            <canvas id="SprintComparison" class="graph-canvas"></canvas>
            <canvas
              id="EpicaComparison"
              class="graph-canvas"
              style="display: none"
            ></canvas>
          </div>
        </div>

        <!-- Showing data -->
        <div class="column is-2">
          <div class="box item-names" id="sprintNames">
            <p class="title is-4">Sprints</p>
            <% sprints.forEach((sprint) => { %>
            <p><%= sprint.sprintName %></p>
            <% }) %>
          </div>

          <div class="box item-names" id="epicNames">
            <p class="title is-4">Epicas</p>
            <% epicas.forEach((epic) => { %>
            <p><%= epic.nombreEpica %></p>
            <% }) %>
          </div>
        </div>
      </div>
      <% } else { %>
      <!-- Show an error page that there's no epic or sprints to show -->
      <% } %>
      <!-- End of graph area & showing names of Sprints or epicas -->
    </section>
  </body>
</html>

<script src="/js/comparativaEpicas.chart.js"></script>

<style>
  .toggle-button:not(:last-child) {
    margin-right: 1rem;
  }

  .item-names {
    max-height: 53vh;
    overflow-y: auto;
  }

  .box {
    border: 1px solid #dbdbdb;
  }
</style>
