<nav
  class="navbar is-fixed-top is-light"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <div class="navbar-start">
      <a
        role="button"
        class="navbar-burger burger always-visible"
        aria-label="menu"
        aria-expanded="true"
      >
        <span aria-hidden="false"></span>
        <span aria-hidden="false"></span>
        <span aria-hidden="false"></span>
      </a>
    </div>
  </div>
</nav>
