<nav
  class="navbar is-fixed-top is-fullwidth is-flex"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <!-- Hamburger icon -->
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="sidebar-data"
      onclick="toggleSidebar(event)"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- Logo -->
  <div class="navbar-item-center">
    <div class="navbar-item">
      <a href="/">
        <img
          src="../../assets/$zebrands-brand-logo.svg"
          alt="Zebrands"
          class="logo"
        />
      </a>
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item is-hidden-touch">
      <img src="" alt="User Profile" class="is-rounded profile-img" />
    </div>
  </div>
</nav>

<!-- Sidebar -->
<%- include('./sidebar.ejs') %>

<!-- Styles -->
<style>
  /* Custom Styles */
  .navbar-item-center {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }
  .profile-img {
    width: 40px;
    height: 40px;
    border: 1px solid #e4e5e3;
    border-radius: 50%;
    margin-right: 10px;
  }
  .logo svg {
    width: 100px;
    height: 100px;
  }
  /* Bulma Css */
  .navbar {
    background-color: #e4e5e3;
    height: 60px;
  }
  @media screen and (max-width: 1023px) {
    .navbar-end {
      justify-content: flex-end;
      margin-right: 10px;
    }
    .navbar-item.is-hidden-touch {
      display: block;
    }
  }
  @media screen and (min-width: 1024px) {
    .navbar-burger {
      display: block !important;
    }
    .menu.is-hidden-touch {
      display: none;
    }
  }
</style>

<!-- Hamburger icon functionality -->
<script>
  // When the hamburger icon is clicked, the sidebar opens
  const toggleSidebar = (event) => {
    var target = document.getElementById(event.target.dataset.target);
    event.target.classList.toggle("is-active");
    target.classList.toggle("is-active");
    target.classList.toggle("is-hidden-touch");
  };
</script>
