<aside class="menu sidebar is-hidden-touch" id="sidebar-data">
  <p class="menu-label">Usuario</p>

  <div class="sidebar-user">
    <ul class="menu-list">
      <li>
        <figure class="image is-128x128">
          <img src="" alt="User Profile" class="is-rounded profile-image" />
        </figure>
        <br />

        <div class="sidebar-content is-flex">
          <br />
          <div class="sidebar-user-text">
            <p class="is-size-6 has-text-weight-bold">Nombre</p>
            <p class="is-size-7">Rol</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Navigation -->
  <br />
  <p class="menu-label">Navegacion</p>
  <ul class="menu-list">
    <!-- Actual section -->
    <p class="is-size-6 sidebar-nav-title">
      <img
        class="nav-icon"
        src="../../assets/navbar-section.png"
        alt="Navbar section"
      />Actual
    </p>

    <ul class="menu-list-item">
      <li><a href="/actual/metricasSprint">Metrica</a></li>
      <li><a href="/actual/retroalimentacion">Retroalimentación</a></li>
      <li><a href="/actual/aprobarAccionables">Accionable</a></li>
      <li><a href="/actual/verRespuestas">Respuestas</a></li>
    </ul>

    <br />

    <!-- Historic section -->
    <p class="is-size-6 sidebar-nav-title">
      <img
        class="nav-icon"
        src="../../assets/navbar-section.png"
        alt="Navbar section"
      />Historico
    </p>
    <ul class="menu-list-item">
      <li><a href="/historico/metricasEpicas">Metrica</a></li>
      <li><a href="/historico/retroalimentacion">Retroalimentación</a></li>

      <!-- Admin only -->
      <li><a href="/historico/accionables">Accionable</a></li>
    </ul>

    <br />

    <!-- Admin only -->
    <p class="is-size-6 sidebar-nav-title">
      <img
        class="nav-icon"
        src="../../assets/navbar-section.png"
        alt="Navbar section"
      />Editar
    </p>

    <ul class="menu-list-item">
      <li><a href="/editar/preguntas">Preguntas</a></li>
      <li><a href="editar/usuarios">Usuarios</a></li>
    </ul>
  </ul>

  <!-- Log Out Button -->
  <button class="button is-danger logout-button">
    <img src="../../assets/logout.png" class="logout-image" />
    Log out
  </button>
</aside>

<!-- Sidebar custom styles -->
<style>
  /* Bulma CSS Override */
  .menu-label {
    margin-left: 15px !important;
    margin-bottom: 25px !important;
  }
  .menu-list {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .image.is-128x128 {
    border-radius: 50%;
    border: 2px solid #e4e5e3;
    box-shadow: 0 0 0 2px #fff !important;
    width: 128px;
    height: 128px;
    object-fit: cover;
    transform: translateX(-20%);
  }
  /* Custom Styles */
  .sidebar {
    position: fixed;
    top: 50;
    left: 0;
    bottom: 0;
    width: 275px;
    overflow-y: auto;
    background-color: #e4e5e3;
    z-index: 10;
    transition: transform 0.4s ease;
    padding-bottom: 60px;
  }
  .sidebar-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sidebar-content {
    text-align: center;
  }
  .sidebar-nav-title {
    margin-left: 10px;
    margin-bottom: 25px;
  }
  .nav-icon {
    width: 10px !important;
    height: 15px !important;
    margin-right: 15px;
  }
  .menu-list-item {
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .logout-button {
    position: absolute;
    bottom: 20;
    left: 130;
    width: 120px;
    border-radius: 52;
  }
  /* Media queries */
  @media screen and (min-width: 769px) {
    .sidebar {
      transform: translateX(-100%);
    }
    .sidebar.is-active {
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
    }
    .sidebar-user {
      margin-top: 0;
      margin-bottom: 0;
    }
    .sidebar-user-text {
      margin-left: 20px;
    }
    .sidebar-nav-title {
      margin-left: 0;
    }
    .menu-label {
      margin-left: 0 !important;
      margin-bottom: 0 !important;
    }
    .menu-list-item {
      margin-left: 0;
    }
    .logout-button {
      position: absolute;
      bottom: 20;
      left: 0;
      width: 100%;
      border-radius: 0;
    }
  }
</style>
