<aside class="menu sidebar is-hidden-touch" id="sidebar-data">
  <section class="is-flex is-justify-content-center mt-4">
    <!-- USer Data -->
    <section class="UserData">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrkZbcHSbochV6XkgyMt4NC6olUbysG4PjUw&usqp=CAU"
        alt="Profile Picture"
        class="image is-128x128 is-rounded mt-4"
      />
      <section class="has-text-centered mt-3">
        <p class="is-size-6 has-text-weight-bold">Nombre</p>
        <p class="is-size-7">Rol</p>
      </section>
    </section>
  </section>
  <!-- Navegacion -->

  <section>
    <!-- Metricas -->

    <section>
      <p class="is-size-4 ml-4">Metricas</p>
      <ul>
        <li><a class="navbar-item" href="">Sprint Actual</a></li>
        <li><a class="navbar-item" href="">Epicas</a></li>
      </ul>
    </section>

    <!-- Retroalimentacion -->
    <!-- Accionables -->
    <!-- Editar -->
  </section>
</aside>

<!-- Sidebar custom styles -->
<style>
  /* Bulma CSS Override */

  /* Custom Styles */
  .sidebar {
    position: fixed;
    top: 45;
    left: 0;
    bottom: 0;
    width: 230px;
    height: 100vh;
    background-color: #e4e5e3;
    z-index: 100;
    transition: transform 0.4s ease;
  }

  .image {
    border-radius: 50%;
  }

  .userData {
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Media queries */
</style>
