<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="/js/auth/GoogleAuth.js"></script>
    <script src="/js/utils/index.js" defer></script>
    <script src="/js/auth/index.js" defer></script>
    <script src="/js/report.front.js" defer></script>
    <script src="/js/report.template.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>


    <script>
      function handleCredentialResponse(response) {
        handleLogin(response)
      }
    </script>

    <title>BlackDot</title>
  </head>
</html>
