

      <section class="is-align-self-flex-start mt-6">
        <section class="is-flex is-justify-content-center is-flex-direction-column">
          <h1 class="title is-1 has-text-centered">
            Error:
          </h1>
          
            <h1 class="title is-3 has-text-centered ">
                No tienes permisos para acceder a esta página
            </h1>
          <a class="button is-link is-medium is-align-self-center" href="/home"
            >Ir al Menú</a
          >
          <img src="/assets/InvalidRol.png" alt="invalidRol" class="catImg is-align-self-center"/>
        </section>
      </section>

<style>

    .button{
        width: 10% !important;
    }

    .catImg{
        width: 50%;
        height: 50%;
        
    }

    body{
   
        padding-left: 20% !important;
        padding-top: 4% !important;
    }
    
</style>