<nav
  class="navbar is-fixed-top is-fullwidth is-flex is-align-content-center p-4"
  role="navigation"
  aria-label="main navigation"
>
  <!-- Blackdot logo -->
  <div class="navbar-start">
    <img src="/assets/Blackdot_Blanco.png" alt="App Logo" class="blackdot" />
    <p class="is-align-self-center blackdot__text">BlackD.t</p>
  </div>

  <!-- Zebrands logo -->
  <div class="navbar-item-center logo__zebrands">
    <img
      src="/assets/$zebrands-brand-logo.svg"
      alt="Zebrands Logo"
      class="is-align-self-center zebrands"
    />
  </div>

  <!-- Profile picture && Dropdown -->
  <div class="navbar-item has-dropdown navbar-end" id="profile__info">
    <!-- Google Profile picture -->
    <% if (locals.currentUser.googleProfilePicture) { %>
    <img
      src="<%= locals.currentUser.googleProfilePicture %>"
      class="profile__picture"
      id="profile__picture"
      onclick="showDropdown()"
    />
    <% } else { %>
    <div class="user__avatar">
      <% currentUser.primerNombre[0] + currentUser.primerApellido[0] %>
    </div>
    <% } %>

    <!-- Dropdown menu -->
    <div class="navbar-dropdown drop__logout is-right pl-4 pr-4">
      <a
        class="navbar-item dropdownItem has-text-centered pl-2 log__out"
        onclick="logOut()"
        id="log__out"
      >
        Cerrar Sesion
      </a>
    </div>
  </div>
</nav>

<script src="/js/navbar.front.js" defer></script>
