<nav
  class="navbar is-fixed-top is-fullwidth is-flex is-align-content-center p-4"
  role="navigation"
  aria-label="main navigation"
>
  <!-- Blackdot logo -->
  <div class="navbar-start">
    <img src="/assets/Blackdot_Blanco.png" alt="App Logo" class="blackdot" />
    <p class="is-align-self-center blackdot__text">BlackD.t</p>
  </div>

  <!-- Zebrands logo -->
  <div class="navbar-item-center logo__zebrands is-align-self-center">
    <img src="/assets/zebrands.png" alt="Zebrands Logo" class="zebrands" />
  </div>

  <!-- Profile picture && Dropdown -->
  <div class="navbar-end">
    <div class="navbar-item " id="logoutContainer">
      <!-- Google Profile picture -->
      <% if (locals.currentUser.googleProfilePicture) { %>
      <div class=" is-flex" onclick="showDropdown()">
        <img
          src="<%= locals.currentUser.googleProfilePicture %>"
          class="profile__picture noHover"
          id="profile__picture"
        />
        <img
          src="../../assets/Dropdown.png"
          alt="a"
          class="dropdownImg ml-2 is-align-self-center is-clickable"
        />
      </div>
      <% } %>

      <!-- Dropdown menu -->
      <div class="navbar-dropdown drop__logout is-right mt-3">
     
         <div class="buttonContainer is-flex is-justify-content-center "> <a class=" dropdown__item " onclick="logOut()" id="log__out">
          Cerrar Sesión
        </a>
      </div>
      </div>
      
    </div>
  </div>
</nav>

<script src="/js/navbar.front.js" defer></script>


