<nav
  class="navbar is-fixed-top is-fullwidth is-flex is-align-content-center p-4"
  role="navigation"
  aria-label="main navigation"
>
  <!-- Blackdot logo -->
  <div class="navbar-start">
    <img src="/assets/Blackdot_Blanco.png" alt="App Logo" class="blackdot" />
    <p class="is-align-self-center blackdot__text">BlackD.t</p>
  </div>

  <!-- Zebrands logo -->
  <div class="navbar-item-center logo__zebrands is-align-self-center">
    <img
      src="/assets/zebrands.png"
      alt="Zebrands Logo"
      class="is-align-self-center zebrands"
    />
  </div>

  <!-- Profile picture && Dropdown -->
  <div class="navbar-item has-dropdown navbar-end" id="profile__info">
    <!-- Google Profile picture -->
    <% if (locals.currentUser.googleProfilePicture) { %>
    <img
      src="<%= locals.currentUser.googleProfilePicture %>"
      class="profile__picture is-align-self-center"
      id="profile__picture"
      onclick="showDropdown()"
    />
    <img src="../../assets/Dropdown.png" alt="a" class="dropdownImg is-align-self-center ml-2  is-clickable" onclick="showDropdown()"/>
    <% } else { %>
    <div class="user__avatar is-align-self-center">
      <% currentUser.primerNombre[0] + currentUser.primerApellido[0] %>
      <img src="../../assets/Dropdown.png" alt="a" class="dropdownImg is-align-self-center ml-2  is-clickable" onclick="showDropdown()"/>
    </div>
    <% } %>

    <!-- Dropdown menu -->
    <div class="navbar-dropdown drop__logout is-right pl-4 pr-4">
      <a
        class="navbar-item dropdownItem has-text-centered pl-2 log__out"
        onclick="logOut()"
        id="log__out"
      >
        Cerrar Sesion
      </a>
    </div>
  </div>
</nav>

<script src="/js/navbar.front.js" defer></script>

<style>
  a {
    color: #e3e1dd !important;
  }
  p{
    color: #e3e1dd !important;
  }

  #profile__info {
    width: 10rem !important;
  }
  
  .profilePicture {
    
    border: 1px solid #e4e5e3;
    border-radius: 50%;
  }
 
  .Zebrands {
    height: 40%;
    width: auto;
  }


  .blackdot {
    height:100% !important;
    width: auto !important;
  }
  .navbar {
    background-color: #272b2c;
    height: 8%;
    border-bottom: 1px solid #444444;
    box-shadow: 0px 1px 1px #444444;
    z-index: 10;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
  .navbar-dropdown {
    width: 5px !important;
    min-width: 8rem !important;
    border-bottom: 1px solid #444444;
    background-color: #272b2c;
    border: none !important;
   
  }
  #profileInfo{
    width: 10rem !important;
  }
  #profileInfo:hover {
  background-color: inherit !important;
  color: inherit !important;  
}
  .dropLogOut {
    width: 2rem !important;
    
  }
  #logOut:hover{
    background-color: #782B2D !important;
    color: #e3e1dd !important;
  }
  .dropdownItem{
    background-color: #d44143 !important;
height: 8%;
border-bottom: 1px solid #444444;
box-shadow: 0px 1px 1px #444444;
color: #e3e1dd !important;
width: 100% !important;
  }
  
  .dropdownImg{
    width: 1rem;
    height: 0.5rem;
    z-index: 15;
    
  }
  .dropdownImg:hover{
    transform: scale(1.2);
  }
  .noHover{
    pointer-events: none;
  }
</style>
