<%- include('./header.ejs') %>
<html>
<body>
    <h1>No cuentas con los permisos necesarios</h1>
    <h2>Espera a que un administrador te autorice</h2>

    <a onclick="logOut()" class="button is-link mt-3">Regresar a Inicio de sesion</a>
    
    <img src="/assets/NoRolCat.png" alt="">
    <div class="team has-text-centered is-flex is-justify-content-center is-align-items-center"><img src="../../assets/Blackdot_Blanco.png" class="blackdotImg">
        <p class="is-vcentered is-fixed-bottom">BlackD.t</p></div>


</body>
</html>


<style>



    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(24,26,27);
background: linear-gradient(264deg, rgba(24,26,27,1) 17%, rgba(39,43,44,1) 67%);
        height: 100vh;

    }


    h1
    {
        font-size: 50px;
      
    }

    h2
    {
        font-size: 30px;
    }

    .blackdotImg{
    width: 2% !important;

  }

  .is-link{
      background-color: #e3e1ddff !important;
      color: #181a1bff  !important;
  }



</style>

<script src="/js/navbar.front.js" defer></script>