<html>
  <%- include('../../include/header.ejs') %>
  <body>
    <%- include('../../include/navbar.ejs') %>
    <br />
    <br />
    <br />
    <br />

    <h1>si jalo el routing</h1>
  </body>
</html>
